MONGO_URI="your_mongodb_connection_string_here"
PORT=3001
JWT_SECRET=your_jwt_secret_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_CALLBACK_URL=http://localhost:3001/api/users/auth/github/callback